/* GENERAL STYLES */

* {
  --background: #F5F5F5;
  --dark: #222222;
  --enphasis: #EE7F6B;
  --gray-1: #B0B0B0;
  --gray-2: #DBDBDB;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  background-color: var(--background);
  color: var(--gray-1);
}

/* NAV BAR */

header nav {
  width: 100%;
  background-color: var(--dark);
  height: 5.3125rem;
  padding: 0 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav p {
  font-family: "Sansita";
  font-size: 1.5rem;
  color: var(--background);
}

header nav .nav-links {
  width: 24.3125rem;
  display: flex;
  justify-content: space-evenly;
}

header nav .nav-links a {
  font-family: "Lora";
  font-style: italic;
  font-size: 1rem;
  text-decoration: none;
  color: var(--background);
}

header nav .nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: var(--enphasis);
  text-decoration-thickness: 0.125rem;
}

/* BANNER SECTION */

main .banner-content {
  background-color: var(--dark);
  height: 35.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main .banner-content h1 {
  font-family: "Sansita";
  font-size: 4rem;
  font-weight: 700;
  color: var(--background);
}

main .banner-content h2 {
  font-family: "Lora";
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--background);
}

main .banner-content button, .about-container button, .cards-container .card button {
  color: var(--background);
  font-weight: 600;
  background-color: var(--enphasis);
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 1.875rem;
}

main .banner-content button:hover, .social-links a:hover, .about-container button:hover, .cards-container .card button:hover {
  transform: scale(110%);
  transition-delay: 1ms;
  transition-duration: 1s;
}

main .banner-content .social-links {
  display: flex;
  gap: 1rem;
}

/* ABOUT SECTION */

main .about-container {
  height: 32.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
}

main .about-container h2, main .skills h2, main #work h2 {
  font-family: "Lora";
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--dark);
}

main .about-container p, #work p {
  display: block;
  width: 42.25rem;
  text-align: center;
}

/* SKILLS SECTION */

main .skills {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: center;
  justify-content: center;
}

main .skills h2 {
  text-align: center;
}

main .cards-container {
  height: 37.3125rem;
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
}

main .cards-container .card {
  width: 15.625rem;
  height: 16.875rem;
  padding: 1.875rem;
  background-color: var(--gray-2);
  border-radius: 0.625rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

main .cards-container .card .skill-title{
  font-size: 1.25rem;
}

main .cards-container .card p {
  text-align: center;
  font-size: 0.875rem;
}

/* WORK SECTION */

main #work {
  height: 44.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
}

main #work .carousel-cards-container {
  width: 100%;
  display: flex;
  gap: 3.125rem;
  align-items: center;
  justify-content: center;
}

main #work .carousel-cards-container .carousel-navigation {
  display: flex;
  align-items: center;
}

main #work .carousel-cards-container .carousel-navigation .carousel-card {
  width: 17.8125rem;
  height: 18.1875rem;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  background-color: var(--gray-2);
  border-radius: 0.625rem;
  /* padding-top: 24px;
  padding-bottom: 16px; */


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.625rem;
}

main #work .carousel-cards-container .carousel-navigation .carousel-card figure #carousel-card-image {
  width: 14.9375;
  height: 10.75rem;
  border-radius: 0.625rem;
}

main #work .carousel-cards-container .carousel-navigation .carousel-card .work-tag {
   font-size: 0.875rem;
   color: var(--enphasis);
   font-weight: 700;
   text-align: left;
   text-decoration: none;
}